## Book Recommendation System

#### Importing the Libraries

In [3]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

#### Importing the Dataset

In [4]:
books_df=pd.read_csv('books.csv')
ratings_df=pd.read_csv('ratings.csv')
users_df=pd.read_csv('users.csv')

C:\Users\ABHIRAM NAIDU\AppData\Local\Temp\ipykernel_16836\1225184402.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_df=pd.read_csv('books.csv')

In [5]:
print("Books Dataset:")
books_df.head()

Books Dataset:

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [6]:
print("Shape of Books Dataset:",books_df.shape)

Shape of Books Dataset: (271360, 8)

In [7]:
print("Information About the Books Dataset:",books_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB
Information About the Books Dataset: None

In [8]:
print("Missing values in Books Dataset:")
print(books_df.isnull().sum())

Missing values in Books Dataset:
ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [9]:
print("Duplicate rows in Books Dataset:", books_df.duplicated().sum())

Duplicate rows in Books Dataset: 0

In [10]:
print("Descriptive statistics of Books Dataset:")
print(books_df.describe())

Descriptive statistics of Books Dataset:
              ISBN      Book-Title      Book-Author  Year-Of-Publication  \
count       271360          271360           271358               271360
unique      271360          242135           102022                  202
top     0195153448  Selected Poems  Agatha Christie                 2002
freq             1              27              632                13903

        Publisher                                        Image-URL-S  \
count      271358                                             271360
unique      16807                                             271044
top     Harlequin  http://images.amazon.com/images/P/185326119X.0...
freq         7535                                                  2

                                              Image-URL-M  \
count                                              271360
unique                                             271044
top     http://images.amazon.com/images/P/185326119X.0...
freq                                                    2

                                              Image-URL-L
count                                              271357
unique                                             271041
top     http://images.amazon.com/images/P/225307649X.0...
freq                                                    2

In [11]:
print("Ratings Dataset:")
print(ratings_df.head())

Ratings Dataset:
   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [12]:
print("Shape of Ratings Dataset:",ratings_df.shape)

Shape of Ratings Dataset: (1149780, 3)

In [13]:
print("Information about Ratings Dataset:")
print(ratings_df.info())

Information about Ratings Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB
None

In [14]:
print("Missing Values in Ratings Dataset:",ratings_df.isnull().sum())

Missing Values in Ratings Dataset: User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [15]:
print("Duplicate rows in Ratings Dataset:", ratings_df.duplicated().sum())

Duplicate rows in Ratings Dataset: 0

In [16]:
print("Descriptive statistics of Ratings Dataset:")
print(ratings_df.describe())

Descriptive statistics of Ratings Dataset:
            User-ID   Book-Rating
count  1.149780e+06  1.149780e+06
mean   1.403864e+05  2.866950e+00
std    8.056228e+04  3.854184e+00
min    2.000000e+00  0.000000e+00
25%    7.034500e+04  0.000000e+00
50%    1.410100e+05  0.000000e+00
75%    2.110280e+05  7.000000e+00
max    2.788540e+05  1.000000e+01

In [17]:
print("Users Dataset:")
print(users_df.head())

Users Dataset:
   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [18]:
print("Shape of Users Dataset:", users_df.shape)

Shape of Users Dataset: (278858, 3)

In [19]:
print("Information about Users Dataset:")
print(users_df.info())

Information about Users Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB
None

In [20]:
print("Missing values in Users Dataset:")
print(users_df.isnull().sum())

Missing values in Users Dataset:
User-ID          0
Location         0
Age         110762
dtype: int64

In [21]:
print("Duplicate rows in Users Dataset:", users_df.duplicated().sum())

Duplicate rows in Users Dataset: 0

In [22]:
print("Descriptive statistics of Users Dataset:")
print(users_df.describe())

Descriptive statistics of Users Dataset:
            User-ID            Age
count  278858.00000  168096.000000
mean   139429.50000      34.751434
std     80499.51502      14.428097
min         1.00000       0.000000
25%     69715.25000      24.000000
50%    139429.50000      32.000000
75%    209143.75000      44.000000
max    278858.00000     244.000000

### Popularity Based Recommendation System

1.In Popularity Based Recommendation System I will be displaying the top 50 high average rating books
2.I will be Considering  only the books which are rated by atleast 250 persons because books voted by lesser number of people does not affect the average rating at all.
3.For achieving this I will be Merging the ratings and books dataframe based on the ISBN Column

In [26]:
ratings_with_name=ratings_df.merge(books_df,on='ISBN') # merging the ratings and books dataframe

In [28]:
# Grouping the ratings_with_name dataframe by the title of the books and the number of ratings
grouped_ratings = ratings_with_name.groupby(['Book-Title']).size().reset_index(name='Number-of-Ratings')

# Displaying the grouped ratings
grouped_ratings.head()

                                          Book-Title  Number-of-Ratings
0   A Light in the Storm: The Civil War Diary of ...                  4
1                              Always Have Popsicles                  1
2               Apple Magic (The Collector's series)                  1
3   Ask Lily (Young Women of Faith: Lily Series, ...                  1
4   Beyond IBM: Leadership Marketing and Finance ...                  1

In [29]:
grouped_ratings

                                               Book-Title  Number-of-Ratings
0        A Light in the Storm: The Civil War Diary of ...                  4
1                                   Always Have Popsicles                  1
2                    Apple Magic (The Collector's series)                  1
3        Ask Lily (Young Women of Faith: Lily Series, ...                  1
4        Beyond IBM: Leadership Marketing and Finance ...                  1
...                                                   ...                ...
241066                                      Ã?Â?lpiraten.                  2
241067                     Ã?Â?rger mit Produkt X. Roman.                  4
241068                                Ã?Â?sterlich leben.                  1
241069                              Ã?Â?stlich der Berge.                  3
241070                                  Ã?Â?thique en toc                  2

[241071 rows x 2 columns]

In [34]:
average_rating=ratings_with_name.groupby(['Book-Title'])["Book-Rating"].mean().reset_index(name="Average-Ratings") # Grouping the ratings_with_name dataframe by the title of the books and the average ratings

In [35]:
average_rating.head()

                                          Book-Title  Average-Ratings
0   A Light in the Storm: The Civil War Diary of ...             2.25
1                              Always Have Popsicles             0.00
2               Apple Magic (The Collector's series)             0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...             8.00
4   Beyond IBM: Leadership Marketing and Finance ...             0.00

In [37]:
popularity_df=grouped_ratings.merge(average_rating,on="Book-Title") # Merging the grouped_ratings and average_ratings dataframe

In [42]:
# Selecting rows with number of ratings greater than 250
filtered_df=popularity_df[popularity_df['Number-of-Ratings']>=250]

# Sorting the filtered DataFrame in descending order of average rating
sorted_df=filtered_df.sort_values(by='Average-Ratings', ascending=False)

# Displaying the sorted DataFrame
sorted_df

,Book-Title,Number-of-Ratings,Average-Ratings
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
...,...,...,...
227701,Vinegar Hill (Oprah's Book Club (Paperback)),265,2.245283
233635,Whispers,286,2.199301
143377,Presumed Innocent,294,2.139456
94382,Isle of Dogs,288,2.000000
234951,Wild Animus,2502,1.019584

In [43]:
sorted_df.merge(books_df,on="Book-Title") # Merging the sorted_df and books_df dataframe

,Book-Title,Number-of-Ratings,Average-Ratings,ISBN,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...
1,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0439136369,J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...
2,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0786222743,J. K. Rowling,2000,Thorndike Press,http://images.amazon.com/images/P/0786222743.0...,http://images.amazon.com/images/P/0786222743.0...,http://images.amazon.com/images/P/0786222743.0...
3,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,0439139597,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...
4,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,0439139600,J. K. Rowling,2002,Scholastic Paperbacks,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...
...,...,...,...,...,...,...,...,...,...,...
735,Isle of Dogs,288,2.000000,0399147659,Patricia Cornwell,2001,Putnam Berkley Audio,http://images.amazon.com/images/P/0399147659.0...,http://images.amazon.com/images/P/0399147659.0...,http://images.amazon.com/images/P/0399147659.0...
736,Isle of Dogs,288,2.000000,0425186768,Patricia Cornwell,2002,Berkley Pub Group,http://images.amazon.com/images/P/0425186768.0...,http://images.amazon.com/images/P/0425186768.0...,http://images.amazon.com/images/P/0425186768.0...
737,Isle of Dogs,288,2.000000,0739420704,Patricia Cornwell,2001,G. P. Putnam's Sons,http://images.amazon.com/images/P/0739420704.0...,http://images.amazon.com/images/P/0739420704.0...,http://images.amazon.com/images/P/0739420704.0...
738,Isle of Dogs,288,2.000000,B0000C7BNG,Patricia Daniels Cornwell,2001,Putnam Pub Group,http://images.amazon.com/images/P/B0000C7BNG.0...,http://images.amazon.com/images/P/B0000C7BNG.0...,http://images.amazon.com/images/P/B0000C7BNG.0...
739,Wild Animus,2502,1.019584,0971880107,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...

In [45]:
sorted_df.merge(books_df,on="Book-Title").drop_duplicates(subset=["Book-Title"]) # Merging the sorted_df and books_df dataframe and dropping the duplicate rows

,Book-Title,Number-of-Ratings,Average-Ratings,ISBN,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...
3,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,0439139597,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...
5,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410,0590353403,J. K. Rowling,1998,Scholastic,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...
9,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441,043935806X,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...
13,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453,0439064872,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439064872.0...,http://images.amazon.com/images/P/0439064872.0...,http://images.amazon.com/images/P/0439064872.0...
...,...,...,...,...,...,...,...,...,...,...
716,Vinegar Hill (Oprah's Book Club (Paperback)),265,2.245283,0380730138,A. Manette Ansay,1998,Perennial,http://images.amazon.com/images/P/0380730138.0...,http://images.amazon.com/images/P/0380730138.0...,http://images.amazon.com/images/P/0380730138.0...
717,Whispers,286,2.199301,0440216745,BELVA PLAIN,1994,Dell,http://images.amazon.com/images/P/0440216745.0...,http://images.amazon.com/images/P/0440216745.0...,http://images.amazon.com/images/P/0440216745.0...
727,Presumed Innocent,294,2.139456,0446359866,Scott Turow,1989,Warner Books,http://images.amazon.com/images/P/0446359866.0...,http://images.amazon.com/images/P/0446359866.0...,http://images.amazon.com/images/P/0446359866.0...
733,Isle of Dogs,288,2.000000,0425182908,Patricia Cornwell,2002,Berkley Publishing Group,http://images.amazon.com/images/P/0425182908.0...,http://images.amazon.com/images/P/0425182908.0...,http://images.amazon.com/images/P/0425182908.0...
739,Wild Animus,2502,1.019584,0971880107,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...

In [47]:
sorted_df.shape

(186, 3)

In [48]:
top_50_books = sorted_df.head(50) # Selecting the top 50 books
top_50_books

,Book-Title,Number-of-Ratings,Average-Ratings
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
191612,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117
187377,The Fellowship of the Ring (The Lord of the Ri...,368,4.948370
80445,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
211384,"The Two Towers (The Lord of the Rings, Part 2)",260,4.880769
219741,To Kill a Mockingbird,510,4.700000
183573,The Da Vinci Code,898,4.642539
187880,The Five People You Meet in Heaven,430,4.551163
180556,The Catcher in the Rye,449,4.545657
196326,The Lovely Bones: A Novel,1295,4.468726
764,1984,284,4.454225
144165,Prodigal Summer: A Novel,253,4.450593
128670,Neverwhere,265,4.449057
206502,The Secret Life of Bees,774,4.447028
168719,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890
223135,"Tuesdays with Morrie: An Old Man, a Young Man,...",493,4.354970
204387,The Red Tent (Bestselling Backlist),723,4.334716
191589,The Hitchhiker's Guide to the Galaxy,268,4.328358
129379,Nickel and Dimed: On (Not) Getting By in America,335,4.289552
93381,Into the Wild,252,4.273810
63867,Fahrenheit 451,409,4.264059
74750,Girl with a Pearl Earring,526,4.218631
136145,Outlander,283,4.173145
233370,Where the Heart Is (Oprah's Book Club (Paperba...,585,4.105983
156102,Seabiscuit: An American Legend,275,4.098182
107962,Life of Pi,664,4.088855
176845,The Bean Trees,389,4.087404
2281,"A Child Called \It\"": One Child's Courage to S...",265,4.086792
8434,ANGELA'S ASHES,279,4.075269
76343,Good in Bed,490,4.055102
64931,Fast Food Nation: The Dark Side of the All-Ame...,321,4.037383
12700,American Gods,302,4.006623
161645,Skipping Christmas,322,4.006211
105777,Left Behind: A Novel of the Earth's Last Days ...,318,4.003145
189551,"The Golden Compass (His Dark Materials, Book 1)",336,4.000000
181679,The Color Purple,314,3.964968
160336,Silence of the Lambs,256,3.960938
8752,About a Boy,262,3.900763
158138,Seven Up (A Stephanie Plum Novel),278,3.888489
175097,The Alchemist: A Fable About Following Your Dream,266,3.875940
80069,Hard Eight : A Stephanie Plum Novel (A Stephan...,269,3.825279
170101,Suzanne's Diary for Nicholas,457,3.820569
111073,Lord of the Flies,259,3.818533
5664,A Prayer for Owen Meany,413,3.796610
212070,"The Vampire Lestat (Vampire Chronicles, Book II)",301,3.777409
233851,White Oleander : A Novel (Oprah's Book Club),356,3.772472